<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<!-- About Section -->
<section id="services" class="bg-light-gray">
    <div class="container">

        <!-- Headings -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">FAQs</h2>
                <h3 class="section-subheading text-muted">Get all the answers to your Frequently Asked Questions here.</h3>
            </div>
        </div>

        <button class="accordion"> How to get rich through NFTs</button>
        <div class="panel">
        <p>This is my long text script <br>
        with multiple lines...</p>
        </div>

        <button class="accordion">What is Solana?</button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">something else...</button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>

    </div>
</section>