<!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">

            <!-- Heading -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Story</h2>
                    <h3 class="section-subheading text-muted">Meet Mimi, a Studio-NFT character with inherently <a style="color: #90c018"><strong>kind</strong></a> personality. 
                        This personality is coupled with one of her many personas. Its up to you how she exists in this world and the contributions she will make to society. 
                        Explore her personas ... </h3>
                </div>
            </div>

            <!-- Items -->
            <div class="row">

                <!-- Looping Through Posts -->
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">Personality: {{ post.personality }}</p>
                        <p class="text-muted">Persona: {{ post.persona }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>

            <!-- Ending -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted"><strong>Mimi</strong> launches into the <strong><a href="https://solanart.io/">Solana Network</a></strong> as the first character in the Studio-NFT collection. 
                        Who will be discovered? Only you can decide ... Join the discord to vote on decisions to influence the story and our future.</h2>
                </div>
            </div>
        </div>
    </section>
